@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
@font-face {
    font-family: "Envy Code R";
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/TTF/Envy-Code-R.ttf");
}

body {
    background-color: var(--bg-color);
    font-family: "Share Tech Mono", monospace;
}

main {
	/*display: block;*/
    padding: 10vh 2rem;
    max-width: 48rem;
    margin: 0 auto 3rem;
    color: var(--fg-color);
    text-align: left;
}

h1 {
    color: var(--color10);
    font-family: "Envy Code R";
    font-weight: bold;
    font-size: 2em;
}

h2 {
    color: var(--color1);
    font-size: 1.5em;
    font-family: "Envy Code R";
    font-weight: bold;
}

h2 a:link,
h2 a:visited {
    font-size: inherit;
    color: var(--color1);
}

h3 {
    font-family: "Envy Code R";
    font-weight: normal;
    color: var(--color6);
    font-size: 1.5em;
}

h4 {
    font-family: "Envy Code R";
    font-weight: normal;
    color: var(--color6);
    font-size: 1em;
}

h5 {
    color: var(--color1);
    font-size: 0.7em;
    font-family: "Share Tech Mono";
}

a {
    text-decoration: none;
}

a:link, a:visited, .fakelink {
    color: var(--color4);
    cursor: pointer;
}

code {
    font-family: "Roboto Mono", monospace;
    color: var(--color15);
}

pre code {
    font-family: "Roboto Mono", monospace;
    color: var(--fg-color);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	padding-left: 1em;
	text-indent: -.7em;
}

li:before {
	content: "*";
	color: var(--color8);
	padding-right: 0.5em;
}

.home-links {
	display: table;
	border-spacing: 10px;
	margin-left: -10px;
}

.home-links a {
	display: table-cell;
}
