<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="en" />
<title>client part draft - albumify-next - Next gen albumify, written in Go. Uses mongodb. WIP!
</title>
<link rel="icon" type="image/png" href="../favicon.png" />
<link rel="alternate" type="application/atom+xml" title="albumify-next.git Atom Feed" href="../atom.xml" />
<link rel="stylesheet" type="text/css" href="../style.css" />
</head>
<body>
<table><tr><td><a href="../../"><img src="../logo.png" alt="" width="32" height="32" /></a></td><td><h1>albumify-next</h1><span class="desc">Next gen albumify, written in Go. Uses mongodb. WIP!
</span></td></tr><tr class="url"><td></td><td>git clone <a href="git://thetudor.ddns.net/albumify-next.git">git://thetudor.ddns.net/albumify-next.git</a></td></tr><tr><td></td><td>
<a href="../log.html">Log</a> | <a href="../files.html">Files</a> | <a href="../refs.html">Refs</a> | <a href="../file/LICENSE.html">LICENSE</a></td></tr></table>
<hr/>
<div id="content">
<pre><b>commit</b> <a href="../commit/9d207ca0e38b73e731d7bcebf098e1bcee4a5484.html">9d207ca0e38b73e731d7bcebf098e1bcee4a5484</a>
<b>parent</b> <a href="../commit/4e4255dd9785a0e39180bffe2f76e0f03d39c08b.html">4e4255dd9785a0e39180bffe2f76e0f03d39c08b</a>
<b>Author:</b> Tudor &lt;<a href="mailto:xenogenesis@openmailbox.org">xenogenesis@openmailbox.org</a>&gt;
<b>Date:</b>   Sat Jun  4 23:00:59 +0300

client part draft

<b>Diffstat:</b>
<table><tr><td><a href="#h0">client/.gitignore</a></td><td> | </td><td class="num">1</td><td><span class="i"></span><span class="d">-</span></td></tr>
<tr><td><a href="#h1">client/index.html</a></td><td> | </td><td class="num">10</td><td><span class="i"></span><span class="d">----------</span></td></tr>
<tr><td><a href="#h2">config.json</a></td><td> | </td><td class="num">3</td><td><span class="i">++</span><span class="d">-</span></td></tr>
<tr><td><a href="#h3">controllers/albums.go</a></td><td> | </td><td class="num">4</td><td><span class="i">++</span><span class="d">--</span></td></tr>
<tr><td><a href="#h4">controllers/client.go</a></td><td> | </td><td class="num">52</td><td><span class="i">++++++++++++++++++++++++++++++++++++++++++++++++++++</span><span class="d"></span></td></tr>
<tr><td><a href="#h5">main.go</a></td><td> | </td><td class="num">3</td><td><span class="i">+++</span><span class="d"></span></td></tr>
<tr><td><a href="#h6">models/album.go</a></td><td> | </td><td class="num">6</td><td><span class="i">+++++</span><span class="d">-</span></td></tr>
<tr><td><a href="#h7">static/css/style.css</a></td><td> | </td><td class="num">8</td><td><span class="i">++++++++</span><span class="d"></span></td></tr>
<tr><td><a href="#h8">util/config.go</a></td><td> | </td><td class="num">1</td><td><span class="i">+</span><span class="d"></span></td></tr>
<tr><td><a href="#h9">views/footer.html</a></td><td> | </td><td class="num">4</td><td><span class="i">++++</span><span class="d"></span></td></tr>
<tr><td><a href="#h10">views/header.html</a></td><td> | </td><td class="num">8</td><td><span class="i">++++++++</span><span class="d"></span></td></tr>
<tr><td><a href="#h11">views/index.html</a></td><td> | </td><td class="num">58</td><td><span class="i">++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</span><span class="d"></span></td></tr>
<tr><td><a href="#h12">views/view.html</a></td><td> | </td><td class="num">31</td><td><span class="i">+++++++++++++++++++++++++++++++</span><span class="d"></span></td></tr>
</table>13 files changed, 174 insertions(+), 15 deletions(-)
<hr/><b>diff --git a/<a id="h0" href="../file/client/.gitignore.html">client/.gitignore</a> b/<a href="../file/client/.gitignore.html">client/.gitignore</a></b>
<a href="#h0-0" id="h0-0" class="h">@@ -1 +0,0 @@
</a><a href="#h0-0-0" id="h0-0-0" class="d">-node_modules
</a><b>diff --git a/<a id="h1" href="../file/client/index.html.html">client/index.html</a> b/<a href="../file/client/index.html.html">client/index.html</a></b>
<a href="#h1-0" id="h1-0" class="h">@@ -1,10 +0,0 @@
</a><a href="#h1-0-0" id="h1-0-0" class="d">-&lt;!DOCTYPE html&gt;
</a><a href="#h1-0-1" id="h1-0-1" class="d">-&lt;html&gt;
</a><a href="#h1-0-2" id="h1-0-2" class="d">-    &lt;head&gt;
</a><a href="#h1-0-3" id="h1-0-3" class="d">-        &lt;title&gt;Albumify&lt;/title&gt;
</a><a href="#h1-0-4" id="h1-0-4" class="d">-        &lt;meta charset=&quot;utf-8&quot;&gt;
</a><a href="#h1-0-5" id="h1-0-5" class="d">-        &lt;script src=&quot;node_modules/superagent/superagent.js&quot;&gt;&lt;/script&gt;
</a><a href="#h1-0-6" id="h1-0-6" class="d">-    &lt;/head&gt;
</a><a href="#h1-0-7" id="h1-0-7" class="d">-    &lt;body&gt;
</a><a href="#h1-0-8" id="h1-0-8" class="d">-    &lt;/body&gt;
</a><a href="#h1-0-9" id="h1-0-9" class="d">-&lt;/html&gt;
</a><b>diff --git a/<a id="h2" href="../file/config.json.html">config.json</a> b/<a href="../file/config.json.html">config.json</a></b>
<a href="#h2-0" id="h2-0" class="h">@@ -3,5 +3,6 @@
</a>     &quot;ServerPort&quot;: 8080,
     &quot;ApiEndpoint&quot;: &quot;/api&quot;,
     &quot;DatabaseAddress&quot;: &quot;localhost&quot;,
<a href="#h2-0-3" id="h2-0-3" class="d">-    &quot;DatabaseName&quot;: &quot;albumify&quot;
</a><a href="#h2-0-4" id="h2-0-4" class="i">+    &quot;DatabaseName&quot;: &quot;albumify&quot;,
</a><a href="#h2-0-5" id="h2-0-5" class="i">+    &quot;AssetsFolder&quot;: &quot;/static&quot;
</a> }
<b>diff --git a/<a id="h3" href="../file/controllers/albums.go.html">controllers/albums.go</a> b/<a href="../file/controllers/albums.go.html">controllers/albums.go</a></b>
<a href="#h3-0" id="h3-0" class="h">@@ -37,9 +37,9 @@ func AlbumShow(w http.ResponseWriter, r *http.Request) {
</a> 	err, result := models.GetAlbum(bson.M{&quot;_id&quot;: documentId})
 	if err != nil {
 		http.Error(w, &quot;404 page not found&quot;, http.StatusNotFound)
<a href="#h3-0-3" id="h3-0-3" class="d">-	} else {
</a><a href="#h3-0-4" id="h3-0-4" class="d">-		json.NewEncoder(w).Encode(result)
</a> 	}
<a href="#h3-0-6" id="h3-0-6" class="i">+
</a><a href="#h3-0-7" id="h3-0-7" class="i">+	json.NewEncoder(w).Encode(result)
</a> }
 
 // Register a new album based on the JSON passed in the request
<b>diff --git a/<a id="h4" href="../file/controllers/client.go.html">controllers/client.go</a> b/<a href="../file/controllers/client.go.html">controllers/client.go</a></b>
<a href="#h4-0" id="h4-0" class="h">@@ -0,0 +1,52 @@
</a><a href="#h4-0-0" id="h4-0-0" class="i">+package controllers
</a><a href="#h4-0-1" id="h4-0-1" class="i">+
</a><a href="#h4-0-2" id="h4-0-2" class="i">+import (
</a><a href="#h4-0-3" id="h4-0-3" class="i">+	&quot;fmt&quot;
</a><a href="#h4-0-4" id="h4-0-4" class="i">+	&quot;html/template&quot;
</a><a href="#h4-0-5" id="h4-0-5" class="i">+	&quot;net/http&quot;
</a><a href="#h4-0-6" id="h4-0-6" class="i">+
</a><a href="#h4-0-7" id="h4-0-7" class="i">+	&quot;gopkg.in/mgo.v2/bson&quot;
</a><a href="#h4-0-8" id="h4-0-8" class="i">+
</a><a href="#h4-0-9" id="h4-0-9" class="i">+	&quot;github.com/gnotclub/albumify-next/models&quot;
</a><a href="#h4-0-10" id="h4-0-10" class="i">+	&quot;github.com/gnotclub/albumify-next/util&quot;
</a><a href="#h4-0-11" id="h4-0-11" class="i">+	&quot;github.com/gorilla/mux&quot;
</a><a href="#h4-0-12" id="h4-0-12" class="i">+)
</a><a href="#h4-0-13" id="h4-0-13" class="i">+
</a><a href="#h4-0-14" id="h4-0-14" class="i">+var IndexTemplate, ViewTemplate *template.Template
</a><a href="#h4-0-15" id="h4-0-15" class="i">+
</a><a href="#h4-0-16" id="h4-0-16" class="i">+func ClientRegisterController() {
</a><a href="#h4-0-17" id="h4-0-17" class="i">+	util.MainRouter.HandleFunc(&quot;/&quot;, CreateAlbum).Methods(&quot;GET&quot;, &quot;POST&quot;)
</a><a href="#h4-0-18" id="h4-0-18" class="i">+	util.MainRouter.HandleFunc(&quot;/{albumId}&quot;, ViewAlbum).Methods(&quot;GET&quot;)
</a><a href="#h4-0-19" id="h4-0-19" class="i">+	util.MainRouter.HandleFunc(util.Config.AssetsFolder+&quot;/{path:.*}&quot;, ServeAssets)
</a><a href="#h4-0-20" id="h4-0-20" class="i">+}
</a><a href="#h4-0-21" id="h4-0-21" class="i">+
</a><a href="#h4-0-22" id="h4-0-22" class="i">+func CompileClientTemplates() {
</a><a href="#h4-0-23" id="h4-0-23" class="i">+	IndexTemplate, _ = template.ParseFiles(&quot;views/header.html&quot;, &quot;views/index.html&quot;, &quot;views/footer.html&quot;)
</a><a href="#h4-0-24" id="h4-0-24" class="i">+	ViewTemplate, _ = template.ParseFiles(&quot;views/header.html&quot;, &quot;views/view.html&quot;, &quot;views/footer.html&quot;)
</a><a href="#h4-0-25" id="h4-0-25" class="i">+}
</a><a href="#h4-0-26" id="h4-0-26" class="i">+
</a><a href="#h4-0-27" id="h4-0-27" class="i">+func ServeAssets(w http.ResponseWriter, r *http.Request) {
</a><a href="#h4-0-28" id="h4-0-28" class="i">+	http.ServeFile(w, r, r.URL.Path[1:])
</a><a href="#h4-0-29" id="h4-0-29" class="i">+}
</a><a href="#h4-0-30" id="h4-0-30" class="i">+
</a><a href="#h4-0-31" id="h4-0-31" class="i">+func CreateAlbum(w http.ResponseWriter, r *http.Request) {
</a><a href="#h4-0-32" id="h4-0-32" class="i">+	if r.Method == &quot;GET&quot; {
</a><a href="#h4-0-33" id="h4-0-33" class="i">+		IndexTemplate.ExecuteTemplate(w, &quot;index&quot;, nil)
</a><a href="#h4-0-34" id="h4-0-34" class="i">+	} else {
</a><a href="#h4-0-35" id="h4-0-35" class="i">+		r.ParseForm()
</a><a href="#h4-0-36" id="h4-0-36" class="i">+		fmt.Fprintln(w, r.Form[&quot;image[0][title]&quot;])
</a><a href="#h4-0-37" id="h4-0-37" class="i">+	}
</a><a href="#h4-0-38" id="h4-0-38" class="i">+}
</a><a href="#h4-0-39" id="h4-0-39" class="i">+
</a><a href="#h4-0-40" id="h4-0-40" class="i">+func ViewAlbum(w http.ResponseWriter, r *http.Request) {
</a><a href="#h4-0-41" id="h4-0-41" class="i">+	vars := mux.Vars(r)
</a><a href="#h4-0-42" id="h4-0-42" class="i">+	albumId := vars[&quot;albumId&quot;]
</a><a href="#h4-0-43" id="h4-0-43" class="i">+	documentId := util.UrlDecode(albumId)
</a><a href="#h4-0-44" id="h4-0-44" class="i">+	err, result := models.GetAlbum(bson.M{&quot;_id&quot;: documentId})
</a><a href="#h4-0-45" id="h4-0-45" class="i">+	if err != nil {
</a><a href="#h4-0-46" id="h4-0-46" class="i">+		http.NotFound(w, r)
</a><a href="#h4-0-47" id="h4-0-47" class="i">+		return
</a><a href="#h4-0-48" id="h4-0-48" class="i">+	}
</a><a href="#h4-0-49" id="h4-0-49" class="i">+
</a><a href="#h4-0-50" id="h4-0-50" class="i">+	ViewTemplate.ExecuteTemplate(w, &quot;view&quot;, result)
</a><a href="#h4-0-51" id="h4-0-51" class="i">+}
</a><b>diff --git a/<a id="h5" href="../file/main.go.html">main.go</a> b/<a href="../file/main.go.html">main.go</a></b>
<a href="#h5-0" id="h5-0" class="h">@@ -28,6 +28,9 @@ func main() {
</a> 
 	// Register routes for all of Album&apos;s controllers
 	controllers.AlbumRegisterController()
<a href="#h5-0-3" id="h5-0-3" class="i">+	// Register main client&apos;s controllers
</a><a href="#h5-0-4" id="h5-0-4" class="i">+	controllers.CompileClientTemplates()
</a><a href="#h5-0-5" id="h5-0-5" class="i">+	controllers.ClientRegisterController()
</a> 
 	// Listen
 	address := fmt.Sprintf(&quot;%s:%d&quot;, util.Config.ServerHostname, util.Config.ServerPort)
<b>diff --git a/<a id="h6" href="../file/models/album.go.html">models/album.go</a> b/<a href="../file/models/album.go.html">models/album.go</a></b>
<a href="#h6-0" id="h6-0" class="h">@@ -36,7 +36,11 @@ func PutAlbum(album *Album) error {
</a> 
 	err := c.Find(bson.M{}).Sort(&quot;-_id&quot;).One(&amp;prevAlbum)
 	if err != nil {
<a href="#h6-0-3" id="h6-0-3" class="d">-		return err
</a><a href="#h6-0-4" id="h6-0-4" class="i">+		if err.Error() == &quot;not found&quot; {
</a><a href="#h6-0-5" id="h6-0-5" class="i">+			prevAlbum.Id = 0
</a><a href="#h6-0-6" id="h6-0-6" class="i">+		} else {
</a><a href="#h6-0-7" id="h6-0-7" class="i">+			return err
</a><a href="#h6-0-8" id="h6-0-8" class="i">+		}
</a> 	}
 
 	(*album).Id = prevAlbum.Id + 1
<b>diff --git a/<a id="h7" href="../file/static/css/style.css.html">static/css/style.css</a> b/<a href="../file/static/css/style.css.html">static/css/style.css</a></b>
<a href="#h7-0" id="h7-0" class="h">@@ -0,0 +1,8 @@
</a><a href="#h7-0-0" id="h7-0-0" class="i">+form div {
</a><a href="#h7-0-1" id="h7-0-1" class="i">+    display: block;
</a><a href="#h7-0-2" id="h7-0-2" class="i">+}
</a><a href="#h7-0-3" id="h7-0-3" class="i">+
</a><a href="#h7-0-4" id="h7-0-4" class="i">+form input[type=&quot;submit&quot;] {
</a><a href="#h7-0-5" id="h7-0-5" class="i">+    border: none;
</a><a href="#h7-0-6" id="h7-0-6" class="i">+    display: inline-block;
</a><a href="#h7-0-7" id="h7-0-7" class="i">+}
</a><b>diff --git a/<a id="h8" href="../file/util/config.go.html">util/config.go</a> b/<a href="../file/util/config.go.html">util/config.go</a></b>
<a href="#h8-0" id="h8-0" class="h">@@ -11,6 +11,7 @@ type ConfigStructure struct {
</a> 	ApiEndpoint     string
 	DatabaseAddress string
 	DatabaseName    string
<a href="#h8-0-3" id="h8-0-3" class="i">+	AssetsFolder    string
</a> }
 
 var Config ConfigStructure
<b>diff --git a/<a id="h9" href="../file/views/footer.html.html">views/footer.html</a> b/<a href="../file/views/footer.html.html">views/footer.html</a></b>
<a href="#h9-0" id="h9-0" class="h">@@ -0,0 +1,4 @@
</a><a href="#h9-0-0" id="h9-0-0" class="i">+{{define &quot;footer&quot;}}
</a><a href="#h9-0-1" id="h9-0-1" class="i">+&lt;footer&gt;
</a><a href="#h9-0-2" id="h9-0-2" class="i">+&lt;/footer&gt;
</a><a href="#h9-0-3" id="h9-0-3" class="i">+{{end}}
</a><b>diff --git a/<a id="h10" href="../file/views/header.html.html">views/header.html</a> b/<a href="../file/views/header.html.html">views/header.html</a></b>
<a href="#h10-0" id="h10-0" class="h">@@ -0,0 +1,8 @@
</a><a href="#h10-0-0" id="h10-0-0" class="i">+{{define &quot;header&quot;}}
</a><a href="#h10-0-1" id="h10-0-1" class="i">+&lt;head&gt;
</a><a href="#h10-0-2" id="h10-0-2" class="i">+    &lt;title&gt;Albumify&lt;/title&gt;
</a><a href="#h10-0-3" id="h10-0-3" class="i">+    &lt;meta charset=&quot;utf-8&quot;&gt;
</a><a href="#h10-0-4" id="h10-0-4" class="i">+    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;&gt;
</a><a href="#h10-0-5" id="h10-0-5" class="i">+    &lt;link rel=&quot;stylesheet&quot; href=&quot;/static/css/style.css&quot;&gt;
</a><a href="#h10-0-6" id="h10-0-6" class="i">+&lt;/head&gt;
</a><a href="#h10-0-7" id="h10-0-7" class="i">+{{end}}
</a><b>diff --git a/<a id="h11" href="../file/views/index.html.html">views/index.html</a> b/<a href="../file/views/index.html.html">views/index.html</a></b>
<a href="#h11-0" id="h11-0" class="h">@@ -0,0 +1,58 @@
</a><a href="#h11-0-0" id="h11-0-0" class="i">+{{define &quot;index&quot;}}
</a><a href="#h11-0-1" id="h11-0-1" class="i">+&lt;!DOCTYPE html&gt;
</a><a href="#h11-0-2" id="h11-0-2" class="i">+&lt;html&gt;
</a><a href="#h11-0-3" id="h11-0-3" class="i">+    {{template &quot;header&quot;}}
</a><a href="#h11-0-4" id="h11-0-4" class="i">+
</a><a href="#h11-0-5" id="h11-0-5" class="i">+    &lt;body&gt;
</a><a href="#h11-0-6" id="h11-0-6" class="i">+        &lt;main&gt;
</a><a href="#h11-0-7" id="h11-0-7" class="i">+            &lt;div class=&quot;title&quot;&gt;
</a><a href="#h11-0-8" id="h11-0-8" class="i">+                &lt;h1&gt;Albumify&lt;/h1&gt;
</a><a href="#h11-0-9" id="h11-0-9" class="i">+                &lt;hr /&gt;
</a><a href="#h11-0-10" id="h11-0-10" class="i">+            &lt;/div&gt;
</a><a href="#h11-0-11" id="h11-0-11" class="i">+
</a><a href="#h11-0-12" id="h11-0-12" class="i">+            &lt;div class=&quot;container&quot;&gt;
</a><a href="#h11-0-13" id="h11-0-13" class="i">+                &lt;form action=&quot;/&quot; method=&quot;post&quot;&gt;
</a><a href="#h11-0-14" id="h11-0-14" class="i">+                    &lt;h3&gt;Album&lt;/h3&gt;
</a><a href="#h11-0-15" id="h11-0-15" class="i">+
</a><a href="#h11-0-16" id="h11-0-16" class="i">+                    &lt;div&gt;
</a><a href="#h11-0-17" id="h11-0-17" class="i">+                        &lt;p for=&quot;album_title_input&quot;&gt;Album title&lt;/p&gt;
</a><a href="#h11-0-18" id="h11-0-18" class="i">+                        &lt;input id=&quot;album_title_input&quot; type=&quot;text&quot; name=&quot;album_title_input&quot; placeholder=&quot;A day at the beach&quot;&gt;
</a><a href="#h11-0-19" id="h11-0-19" class="i">+                    &lt;/div&gt;
</a><a href="#h11-0-20" id="h11-0-20" class="i">+
</a><a href="#h11-0-21" id="h11-0-21" class="i">+                    &lt;div&gt;
</a><a href="#h11-0-22" id="h11-0-22" class="i">+                        &lt;p for=&quot;album_desc_input&quot;&gt;Album Description&lt;/p&gt;
</a><a href="#h11-0-23" id="h11-0-23" class="i">+                        &lt;textarea id=&quot;album_desc_input&quot; rows=&quot;5&quot; cols=&quot;25&quot; name=&quot;album_desc_input&quot; placeholder=&quot;It was fun&quot;&gt;&lt;/textarea&gt;
</a><a href="#h11-0-24" id="h11-0-24" class="i">+                    &lt;/div&gt;
</a><a href="#h11-0-25" id="h11-0-25" class="i">+
</a><a href="#h11-0-26" id="h11-0-26" class="i">+                    &lt;div class=&quot;frames&quot;&gt;
</a><a href="#h11-0-27" id="h11-0-27" class="i">+                        &lt;div id=&quot;frame1&quot; class=&quot;frame&quot;&gt;
</a><a href="#h11-0-28" id="h11-0-28" class="i">+                            &lt;h3&gt;Image 1&lt;/h3&gt;
</a><a href="#h11-0-29" id="h11-0-29" class="i">+
</a><a href="#h11-0-30" id="h11-0-30" class="i">+                            &lt;div&gt;
</a><a href="#h11-0-31" id="h11-0-31" class="i">+                                &lt;p&gt;Image Title&lt;/p&gt;
</a><a href="#h11-0-32" id="h11-0-32" class="i">+                                &lt;input id=&quot;image_title&quot; name=&quot;image[0][title]&quot; type=&quot;text&quot;&gt;
</a><a href="#h11-0-33" id="h11-0-33" class="i">+                            &lt;/div&gt;
</a><a href="#h11-0-34" id="h11-0-34" class="i">+
</a><a href="#h11-0-35" id="h11-0-35" class="i">+                            &lt;div&gt;
</a><a href="#h11-0-36" id="h11-0-36" class="i">+                                &lt;p for=&quot;image_description&quot;&gt;Image Description&lt;/p&gt;
</a><a href="#h11-0-37" id="h11-0-37" class="i">+                                &lt;textarea id=&quot;image_description&quot; rows=&quot;3&quot; cols=&quot;25&quot; name=&quot;image[0][title]&quot;&gt;&lt;/textarea&gt;
</a><a href="#h11-0-38" id="h11-0-38" class="i">+                            &lt;/div&gt;
</a><a href="#h11-0-39" id="h11-0-39" class="i">+
</a><a href="#h11-0-40" id="h11-0-40" class="i">+                            &lt;div&gt;
</a><a href="#h11-0-41" id="h11-0-41" class="i">+                                &lt;p for=&quot;image_link&quot;&gt;Image link&lt;/p&gt;
</a><a href="#h11-0-42" id="h11-0-42" class="i">+                                &lt;input id=&quot;image_link&quot; name=&quot;image[0][link]&quot; type=&quot;text&quot;&gt;
</a><a href="#h11-0-43" id="h11-0-43" class="i">+                            &lt;/div&gt;
</a><a href="#h11-0-44" id="h11-0-44" class="i">+                        &lt;/div&gt;
</a><a href="#h11-0-45" id="h11-0-45" class="i">+                    &lt;/div&gt;
</a><a href="#h11-0-46" id="h11-0-46" class="i">+                    &lt;br /&gt;
</a><a href="#h11-0-47" id="h11-0-47" class="i">+                    &lt;div&gt;
</a><a href="#h11-0-48" id="h11-0-48" class="i">+                        &lt;input type=&quot;submit&quot; value=&quot;Submit!&quot;&gt;
</a><a href="#h11-0-49" id="h11-0-49" class="i">+                    &lt;/div&gt;
</a><a href="#h11-0-50" id="h11-0-50" class="i">+                &lt;/form&gt;
</a><a href="#h11-0-51" id="h11-0-51" class="i">+            &lt;/div&gt;
</a><a href="#h11-0-52" id="h11-0-52" class="i">+        &lt;/main&gt;
</a><a href="#h11-0-53" id="h11-0-53" class="i">+
</a><a href="#h11-0-54" id="h11-0-54" class="i">+        {{template &quot;footer&quot;}}
</a><a href="#h11-0-55" id="h11-0-55" class="i">+    &lt;/body&gt;
</a><a href="#h11-0-56" id="h11-0-56" class="i">+&lt;/html&gt;
</a><a href="#h11-0-57" id="h11-0-57" class="i">+{{end}}
</a><b>diff --git a/<a id="h12" href="../file/views/view.html.html">views/view.html</a> b/<a href="../file/views/view.html.html">views/view.html</a></b>
<a href="#h12-0" id="h12-0" class="h">@@ -0,0 +1,31 @@
</a><a href="#h12-0-0" id="h12-0-0" class="i">+{{define &quot;view&quot;}}
</a><a href="#h12-0-1" id="h12-0-1" class="i">+&lt;!DOCTYPE html&gt;
</a><a href="#h12-0-2" id="h12-0-2" class="i">+&lt;html&gt;
</a><a href="#h12-0-3" id="h12-0-3" class="i">+    {{template &quot;header&quot;}}
</a><a href="#h12-0-4" id="h12-0-4" class="i">+
</a><a href="#h12-0-5" id="h12-0-5" class="i">+    &lt;body&gt;
</a><a href="#h12-0-6" id="h12-0-6" class="i">+        &lt;main&gt;
</a><a href="#h12-0-7" id="h12-0-7" class="i">+            &lt;a href=&quot;/&quot; id=&quot;home&quot;&gt;Albumify&lt;/a&gt;
</a><a href="#h12-0-8" id="h12-0-8" class="i">+
</a><a href="#h12-0-9" id="h12-0-9" class="i">+            &lt;div class=&quot;metadata&quot;&gt;
</a><a href="#h12-0-10" id="h12-0-10" class="i">+                &lt;h1&gt;{{.Title}}&lt;/h1&gt;
</a><a href="#h12-0-11" id="h12-0-11" class="i">+                &lt;hr /&gt;
</a><a href="#h12-0-12" id="h12-0-12" class="i">+                &lt;div class=&quot;description&quot;&gt;&lt;p&gt;{{.Description}}&lt;/p&gt;&lt;/div&gt;
</a><a href="#h12-0-13" id="h12-0-13" class="i">+            &lt;/div&gt;
</a><a href="#h12-0-14" id="h12-0-14" class="i">+
</a><a href="#h12-0-15" id="h12-0-15" class="i">+
</a><a href="#h12-0-16" id="h12-0-16" class="i">+            &lt;div class=&quot;container&quot;&gt;
</a><a href="#h12-0-17" id="h12-0-17" class="i">+                {{range .Images}}
</a><a href="#h12-0-18" id="h12-0-18" class="i">+                &lt;div class=&quot;pic&quot;&gt;
</a><a href="#h12-0-19" id="h12-0-19" class="i">+                    &lt;h3&gt;{{.Title}}&lt;/h3&gt;
</a><a href="#h12-0-20" id="h12-0-20" class="i">+                    &lt;span class=&quot;description&quot;&gt;&lt;p&gt;{{.Description}}&lt;/p&gt;&lt;/span&gt;
</a><a href="#h12-0-21" id="h12-0-21" class="i">+                    &lt;a href=&quot;{{.Link}}&quot;&gt;&lt;img src=&quot;{{.Link}}&quot;&gt;&lt;/a&gt;
</a><a href="#h12-0-22" id="h12-0-22" class="i">+                &lt;/div&gt;
</a><a href="#h12-0-23" id="h12-0-23" class="i">+                {{end}}
</a><a href="#h12-0-24" id="h12-0-24" class="i">+            &lt;/div&gt;
</a><a href="#h12-0-25" id="h12-0-25" class="i">+        &lt;/main&gt;
</a><a href="#h12-0-26" id="h12-0-26" class="i">+
</a><a href="#h12-0-27" id="h12-0-27" class="i">+        {{template &quot;footer&quot;}}
</a><a href="#h12-0-28" id="h12-0-28" class="i">+    &lt;/body&gt;
</a><a href="#h12-0-29" id="h12-0-29" class="i">+&lt;/html&gt;
</a><a href="#h12-0-30" id="h12-0-30" class="i">+{{end}}
</a></pre>
</div>
</body>
</html>
