body {
    background-color: var(--bg-color);
    font-family: "Share Tech Mono", monospace;
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	/*display: block;*/
    padding: 10vh 2rem;
	width: 100%;
    margin: 0 auto 3rem;
    color: var(--fg-color);
    text-align: left;
	word-wrap: normal;
}

@media only screen and (min-width: 900px) {
	main {
		width: 900px;
	}
}

h1 {
    color: var(--color10);
    font-family: "JetBrains Mono";
    font-size: 2em;
}

h2 {
    color: var(--color1);
    font-size: 1.5em;
    font-family: "JetBrains Mono";
}

h2 a:link,
h2 a:visited {
    font-size: inherit;
    color: var(--color1);
}

h3 {
    font-family: "JetBrains Mono";
    color: var(--color6);
    font-size: 1.5em;
}

h4 {
    font-family: "JetBrains Mono";
    color: var(--color6);
    font-size: 1em;
}

h5 {
    color: var(--color1);
    font-size: 0.7em;
    font-family: "JetBrains Mono";
}

a {
    text-decoration: none;
}

a:link, a:visited, .fakelink {
    color: var(--color4);
    cursor: pointer;
}

code {
    font-family: "Roboto Mono", monospace;
    color: var(--color15);
}

pre code {
    font-family: "Roboto Mono", monospace;
    color: var(--fg-color);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	padding-left: 1em;
	text-indent: -.7em;
}

li:before {
	content: "*";
	color: var(--color8);
	padding-right: 0.5em;
}

.home-links {
	display: block;
	margin: 5px auto;
}

.home-links li::before {
	content: "";
}

.home-links li {
	display: inline-block;
	list-style: none;
	margin: 0 5px;
	padding: 0;
}

main img {
	width: 100%;
}
