@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
@font-face {
    font-family: "Envy Code R";
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/TTF/Envy-Code-R.ttf");
}

body {
    background-color: #273941;
    font-family: "Share Tech Mono", monospace;
}

main {
    display: block;
    position: relative;
    padding-top: 10vh;
    left: 15vw;
    max-width: 70vw;
    color: #c0c5ce;
}

h1 {
    color: #6dc2a3;
    font-family: "Envy Code R";
    font-weight: bold;
    font-size: 2em;
}

h2 {
    color: #a66363;
    font-size: 1.5em;
    font-family: "Envy Code R";
    font-weight: bold;
}

h2 a:link,
h2 a:visited {
    font-size: inherit;
    color: #a66363;
}

h3 {
    font-family: "Envy Code R";
    font-weight: normal;
    color: #63a69b;
    font-size: 1.5em;
}

h4 {
    font-family: "Envy Code R";
    font-weight: normal;
    color: #63a69b;
    font-size: 1em;
}

h5 {
    color: #a66363;
    font-size: 0.7em;
    font-family: "Share Tech Mono";
}

a {
    text-decoration: none;
}

a:link, a:visited, .fakelink {
    color: #6385a6;
    cursor: pointer;
}

code {
    font-family: "Roboto Mono", monospace;
    color: #eff1f5;
}

pre code {
    font-family: "Roboto Mono", monospace;
    color: #c0c5ce;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	padding-left: 1em;
	text-indent: -.7em;
}

li:before {
	content: "*";
	color: #456472;
	padding-right: 0.5em;
}
